* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0CF25D, #034159);
} 

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 12px;
    margin: auto;
    box-shadow: 8px 8px 20px #011a24c4;
    padding-bottom: 25px;
}

h1 {
    color: #038C3E;
    text-align: center;
    text-shadow: 2px 1px 2px #01443db6;
}

h2 {
    color: #029c80be;
}

p {
    text-align: justify;
}

.foto {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

.botoes {
    color: wheat;
    background-color: #038C3E;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-top: 1%;
    width: 30%;
}

.botoes:hover{
    box-shadow: 1px 1px 5px rgb(119, 119, 119);
    background-color: #00852e;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.BotoesFinais{
    display: flex;
    flex-direction: column;
}